<!-- Bootstrap core CSS -->
 <link rel="stylesheet" href="{{ site.baseurl }}/assets/bootstrap-italia/dist/css/bootstrap-italia.min.css">
 <link rel="stylesheet" href="https://www.comune.pordenone.it/++plone++production/++unique++2022-06-20T10:56:28.669167/default.css"> 
 <link rel="stylesheet" href="https://www.comune.pordenone.it/++theme++tecnoteca.pordenonetheme2018/css/tecnoteca-pordenonetheme2018-bundle.css?version=2023-04-05%2016%3A46%3A48.175494"> 

<!-- Main styles -->
<link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
